.card-text{
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
#deleteBtn{
    color: white;
}
.post-content{
    white-space: pre-wrap;
    text-align: justify;
    padding: 2vw 0;
}
.blog-post{
    padding: 3vw 0;
}

.register_user{
    margin-top: 10vh;
    border-radius: 5px;
}
.register-form{
    margin: 20px 15px;
}
.avatar{
    border-radius: 50%;
}
.user-link:hover{
    text-decoration: none;
}
.card-title{
    margin-top: 0.75rem;
}

.avatar-sign-in{
    height: 40px;
    border-radius: 50%;
    margin-left: 5px;
}
#avatar-link::before{
    display: none;
}

.dropleft .dropdown-menu{
    top: auto;
    right: 0;
}
.search-form{
    margin-right: 5%;
}

.super-user{
    position: absolute;
    left: 46%;
    top: 50%;
    color: #343a40;
    font-size: 27px;
}

.pagination-page-info {
    padding: .6em;
    padding-left: 0;
    width: 40em;
    margin: .5em;
    margin-left: 0;
    font-size: 12px;
}
.pagination-page-info b {
    color: black;
    background: #6aa6ed;
    padding-left: 2px;
    padding: .1em .25em;
    font-size: 150%;
}
.no_per_page{
    padding: 15px 0;
}

.input_no_of_posts{
    margin: 0 10px;
}
.filter_posts{
    z-index: 9999;
    height: 150px;
    overflow: auto;
}
#formFile{
    border: none;
    padding: 0;
}
#form_add img {
    width:20%;
    display:none;
    margin-bottom:30px;
}
#formFile::-webkit-file-upload-button {
  color: white;
  display: inline-block;
  background: #007bff;
  border: none;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  border-radius: 3px;
  white-space: nowrap;
  cursor: pointer;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.view-picture{
    margin-bottom: 25px;
    object-fit: cover;
    height: 50vh;
}

.picture{
    object-fit: cover;
    height: 30vh;
}

/*   Media queries*/
@media screen and (max-width: 992px) and (min-width: 768px){
.picture{
    height: 20vh;
}
}