.card-text{
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
#deleteBtn{
    color: white;
}
.post-content{
    white-space: pre-wrap;
    text-align: justify;
    padding: 2vw 0;
}
.blog-post{
    padding: 3vw 0;
}

.register_user{
    margin-top: 10vh;
    border-radius: 5px;
}
.register-form{
    margin: 20px 15px;
}
.avatar{
    border-radius: 50%;
}
.user-link:hover{
    text-decoration: none;
}
.dropdown-toggle::after{
    
}