{% extends "layout.html" %}
{% block title %}
{% endblock %}

{% block content %}
<form action="{{ url_for('database_bp.db_setup') }}"" method="post">
    <div class="form-group">
        <label for="title">Host</label>
        <input class="form-control" type="text" id="host" name="host" required><br>
        <label for="owner">Database</label>
        <input class="form-control" type="text" id="database" name="database" required><br>
        <label for="owner">User</label>
        <input class="form-control" type="text" id="user" name="user" required><br>
        <label for="owner">Password</label>
        <input class="form-control" type="text" id="password" name="password" required><br>
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>

{% endblock %}

