<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}{% endblock %}</title>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <script src="https://kit.fontawesome.com/b142328a98.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='site.css')}}" />
    </head>

    <body>
        <div class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a href="{{ url_for('post_bp.add_post') }}" class="navbar-brand">Add Post</a>
                </li>
                <li class="nav-item">
                    <a href="{{ url_for('post_bp.blog') }}" class="navbar-brand">Posts</a>
                </li>
                <li class="nav-item dropdown">
                    <a href="{{ url_for('user_bp.home') }}" class="navbar-brand dropdown-toggle"  data-toggle="dropdown">Users</a>
                    <ul class="dropdown-menu bg-dark" aria-labelledby="dropdownMenuButton2">
                        <li><a class="dropdown-item text-light bg-dark" href="{{ url_for('user_bp.add_user') }}"><i class="fa-solid fa-user"></i> Add User</a></li>
                        <li><a class="dropdown-item text-light bg-dark" href="{{ url_for('user_bp.home') }}"><i class="fa-solid fa-user-group"></i> Users</a></li>
                    </ul>
                </li>
                
            </ul> 
                
            <form class="search-form form-inline my-2 my-lg-0"">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form> 
                   
              {% if "id" in session %} 
                {%set buttonText = "Sign Out"%}
                {%set urlPage = url_for('authenticate.sign_out')%}
                <div class="nav-item dropleft">   
                    <a href="#" id="avatar-link"  class="center navbar-brand dropdown-toggle" data-toggle="dropdown"><img class="avatar-sign-in" src="https://images.unsplash.com/placeholder-avatars/extra-large.jpg?dpr=1&auto=format&fit=crop&w=150&h=150&q=60&crop=faces&bg=fff" alt=""></a>
                    <ul class="dropdown-menu bg-dark " aria-labelledby="dropdownMenuButton2">
                    <li><a href="{{url_for('user_bp.view_user',user_id = session['id'] )}}"><p class="font-weight-bold dropdown-item text-light bg-dark">{{session['user_name']}}</p></a></li>
                    <li><a href="{{urlPage}}" class="dropdown-item text-light bg-dark">{{buttonText}}</a></li>
                    </ul>
                </div> 
                {% else %}
                {%set buttonText = "Sign In"%}
                {%set urlPage = url_for('authenticate.sign_in')%}
                <a href="{{urlPage}}" class="d-flex btn btn-primary">{{buttonText}}</a>
              {%endif%}
            
            </div>  
        </div>
        {% for message in get_flashed_messages() %}
        <div class="alert alert-warning" role="alert">
            {{ message }}
        </div>
        {% endfor %}
        <div class="container">
            {% block content %}
            {% endblock %}
        </div>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="../static/app.js"></script>
    </body>
</html>