{% extends "layout.html" %}
{% block title %}
{% endblock %}

{% block content %}
<br/>
<form action="{{ url_for('update_post',post_id = post.post_id) }}"" method="post">
    <div class="form-group">
        <label for="title">Title</label>
        <input class="form-control" type="text" id="title" name="title"><br>
        <label for="owner">Owner</label>
        <input class="form-control" type="text" id="owner" name="owner"><br>
        <label for="content">Content</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="10" name="content"></textarea><br>
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
    

{% endblock %}