{% extends "layout.html" %}
{% block title %}

{% endblock %}
{% block content %}

{% if post.owner_id%}
  {%set url_for_id = url_for('user_bp.view_user',user_id = post.owner_id )%}
{% else %}
  {%set url_for_id = '#' %}
{%endif%}
<br>
<div class="row">
  <div class="col-md-12 blog-main">
    <div class="blog-post">
      <h2 class="blog-post-title">{{ post.post_title }}</h2>
      <br>
      <i class="d-inline far fa-clock"></i>
      <p class="d-inline blog-post-meta">{{ post.post_date_creation }} by <a href="{{url_for_id}}">{{post.post_owner}}</a></p><br>
      <p class="post-content">{{ post.post_contents }}</p>
      {% if post.post_date_modification != ""%}
      <p class="card-text"><small class="text-muted"> Modified on {{post.post_date_modification}}</small></p>
      {%endif%}
      <!-- Button trigger modal -->
      <a href="{{url_for('post_bp.update_post',post_id = post.post_id )}}" class="d-inline btn btn-secondary" id="updateBtn">Update</a>
      <a class="d-inline btn btn-danger" id="deleteBtn" data-toggle="modal" data-target="#exampleModal">
          Delete
      </a>
      
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Delete Post {{ post.post_title }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                Are you sure you want to delete this post?
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                <a href="{{url_for('post_bp.delete_post',post_id = post.post_id )}}" class="btn btn-primary">Yes</a>
              </div>
            </div>
          </div>
        </div>
  </div>
  </div>
</div>

{% endblock %}